body {
  background: #abbaab;
  min-height: 100vh;
}

h1 {
  font-family: "Caveat", cursive;
  color: #292934;
}

.todo-wrapper {
  background-color: #c5d9c5;
}

input.form-control,
.task {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #292934;
}

input.form-control {
  caret-color: #566b56;
  background-color: #f4ffee;
}

input.form-control::placeholder {
  font-weight: 400;
}

.form-check input {
  font-size: 17px;
  border: 1px solid #919191;
}

.form-check-input:focus {
  border-color: #b4cbb4;
}

.form-check-input:checked {
  background-color: #75bd14;
  border: none;
}

.task {
  order: 1;
  background-color: white;
}

.task.completed {
  order: 2;
  background-color: #30f00d36;
}

.delete-task-button {
  font-size: 17px;
  cursor: pointer;
}

.counter-container {
  order: 3;
  order: 3;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #779377;
  font-weight: 500;
}

/* Loading spinner */
.loading-spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #778177;
  opacity: 50%;
  z-index: 4;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
